*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container--fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* grid layout */
.d-grid{
  display: grid;
}
.d-flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
[style*="--w-xs"] {
  max-width: calc(100%/12*var(--w-xs));
  flex-basis: calc(100%/12*var(--w-xs));
}

@media(min-width: 768px) {
  [style*="--w-sm"] {
    max-width: calc(100%/12*var(--w-sm));
    flex-basis: calc(100%/12*var(--w-sm));
  } 
}
@media(min-width: 991px){
  [style*="--w-xs"] {
    max-width: calc(100%/12*var(--w-xs));
    flex-basis: calc(100%/12*var(--w-xs));
  }
}

/* Helper */
.p-relative {
  position: relative;
}
.unstyled {
  list-style: none;
}

/* Main Navigation */
.nav__link {
  display: inline-block;
  padding: 10px 25px;
}

/* general */
img{
  width: 100%;
  max-width: 100%;
}