:root{
    --main-color: #fff;
    --bg-color: #2B61D1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #020016;
    color: var(--main-color);
}
.d-flex{
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
.unstyled {
    list-style: none;
}
.container {
    max-width: 1170px;
    margin: 0 auto;

}
p{
    color: var(--main-color);
    opacity: 0.5;
}

.btn {
    border-radius: 60px;
    color: var(--main-color);
    background-color: #2B61D1;
}
img {
    max-width:100%;
}
/* grid */
.row{   
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col {
    padding: 15px;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}
[style*=--w-xs] {
    max-width: calc(100%/12*var(--w-xs));
    flex-basis: calc(100%/12*var(--w-xs));
}
@media(min-width: 768px){
[style*=--w-sm] {
    max-width: calc(100%/12*var(--w-sm));
    flex-basis: calc(100%/12*var(--w-sm));
}
}
.header{
    padding: 50px 0;
    max-width: 1300px;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.nav__linkItem {
    font-size: 24px;
    line-height: 1.16;
    font-weight: bold;
    color: var(--main-color);
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
}

.btn__login {
    padding: 16px 70px;
}

/* social icons */
.social__link{
    position: fixed;
    top: 300px;
    left: 0;
    background: var(--bg-color);
    border-radius: 0 60px 60px 0;
    padding: 60px 20px;
}

.social__link i {
    font-size: 40px;
}
.social__link li:not(:last-child){
    margin-bottom: 30px;
}

/* crypto section */
.section__crypto {
    background: #fff;
}